@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'tailwindcss';

.backGroundMain {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.header,
.section {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

button,
.cta {
  background-color: #4d9de0;
  color: #121212;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
.cta:hover {
  background-color: #ffd93d;
  color: #121212;
}

a {
  color: #ff6b6b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titolo{
  font-size: 3rem;
  background: linear-gradient(90deg, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
